$primary-color: #000;
$secondary-color: #fff;
$red-color:#ff6347;
$blue-color: #2196f3;
$blue-hover-color: #1565c0;
$green-color: #06c755;
$grey-color: rgba(255, 255, 255, 0.3);
$grey-hover-color: #ebecf0;
